/* Estilos Generales */
$color1: rgb(195, 231, 148);
$color-accordion-p: #eeeeee;
$color-accordion: #f1f7ee;

$colores: (
  "color1": rgb(195, 231, 148),
  "color-accordion-p": #eeeeee,
  "color-accordion": #f1f7ee,
);

@mixin botones {
  width: 100px;
  margin: 2%;
}

@font-face {
  font-family: "Oswald";
  src: url("../Oswald/Oswald-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0%;
  text-decoration: none black;
  font-family: Oswald;
}
body {
  padding-top: 76px;
}

.lineaHr {
  color: beige;
}

main {
  min-height: 80vh;
}

.navDeco {
  height: 39px;
  border-radius: 0 0.5em;
  text-align: center;
  &:hover {
    background-color: map-get($map: $colores, $key: "color1");
  }
  &:active {
    transform: scale(0.8);
    transition-duration: 0.5s;
  }
}

.margenMarcaFooter {
  margin-top: 8px;
}
.text-reset:hover {
  transform: scale(1.03);
  transition: 700ms;
}

/* Decoracion del acorden de la paguna "Ayuda" */
.fondoAccordion {
  background-color: map-get($map: $colores, $key: "color-accordion");
}

.fondoAccordionP {
  background-color: map-get($map: $colores, $key: "color-accordion-p");
}

/* Pagina Inicio */
.navBarDeco {
  background-image: url(../imagenes/fondoNav.webp);
  min-height: 10vh;
  background-position: center;
  background-size: 3000px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.efectoHover:hover {
  transform: scale(1.08);
  transition: 700ms;
}

/* Pagina Nosotros */
.formatoNosotros {
  width: 80%;
  padding-top: 3%;
}

/* Pagina Contacto */
.botonContacto {
  @include botones;
}

#cursivaContacto {
  font-style: italic;
}

.imagenContacto {
  position: relative;
  display: inline-block;
  text-align: center;
  max-height: 40vh;
  min-height: 30vh;
  width: 100%;
}

/* Pagina Ayuda */
.divFormAyuda {
  margin-top: 4%;
  height: 70vh;
}

.botonAyuda {
  width: 100px;
  margin: 2%;
}

#cursivaAyuda {
  font-style: italic;
}

/* Pagina Iniciar Sesion */
.botonSesion {
  @extend .botonSesion;
  border-radius: 10%;
}

.divFormSesion {
  height: 80vh;
  width: 100%;
}

.botonSesion {
  width: 100px;
  margin: 2%;
}
